{% extends 'shop/basic.html' %}
{% block title %}{{product.product_name}} {% endblock %}
{% block css %}
.minus{
margin-left:3px;
}
.cart{
margin-left:5px;
}
body{
  background-image: linear-gradient(120deg,#3498db,#8e44ad);
}
.recommen{
  width:200px;
  height:400px;
}
.recomme{
  height:200px;
}
.desc{
  color:white;
}
.btn11{
  background-color:rgb(220,183,34);
  color:black;
}
{% endblock %}
{% block body %}
{% load static %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src='/media/{{product.image}}' class="card-img-top" alt="...">
            </div>
            <div class="row my-4 mx-5">
                <a href='/shop/buy/{{product.id}}'><button id="pr{{product.id}}" class="btn btn11 btn-primary buy">Buy now</button></a>
                <span id="divpr{{product.id}}" class="divpr">
                    <button class="btn btn11 btn-primary cart ">Add To Cart</button>
                </span>
            </div>
        </div>
        <div class="col-md-8">
            <h5 id="namepr">{{product.product_name}}</h5>
            <p><b>Rs.{{product.price}}</b></p>
            <p class="desc">{{product.desc}}</p>
            <input type="hidden" class="image" id="{{product.image}}">
        </div>
    </div>
    <h2>Recommende Items</h2>
    <div class="items d-flex justify-content-between align-items-center">
    </div>
</div>
<script type="module" src="{% static '/heap.js' %}"></script>
<script>
recommend=JSON.parse(localStorage.getItem('recommend'));
cart=JSON.parse(localStorage.getItem('cart'));
function savecart()
    {if(cart==null)
        {
            cart={};
        }
     $('#cartJson').val(JSON.stringify(cart))
     $('#recommend').val(JSON.stringify(recommend))
     localStorage.clear()
      
    }
</script>
{% endblock %}
{% block js %}

<script type="module">
    import {BinaryHeap} from "{% static '/heap.js' %}"
    

   var heap=new BinaryHeap()




var cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);

var recommend=JSON.parse(localStorage.getItem('recommend'));
var id=document.getElementsByClassName('buy')[0].id;
var name=document.getElementById('namepr').innerHTML
  if(recommend[id]!=undefined)
  {
     recommend[id][0]=recommend[id][0]+1;
  }    
  else
  {var image=document.getElementsByClassName('image')[0].id;
    var temp=toString(id);
    recommend[id]=[1,image,name,temp[2]];
  }
  localStorage.setItem('recommend',JSON.stringify(recommend))
  console.log("recommende items",recommend)


  for(var item in recommend)
  {var id=item[2];
    heap.insert([recommend[item][0],recommend[item][1],recommend[item][2],id])
  }
  console.log("heap",heap);
  var display=[];
  for(var i=0;i<3;i++)
    {display.push(heap.extractMax());
    }
    console.log("heap1",heap);
    console.log("display",display);
     for(var item in display)
     {
        heap.insert([item[0],item[1],item[2],item[3]]);
     }
     console.log("updated heap",heap);



var myStr=""
for (let i=0;i<display.length;i++) {
        let name = display[i][2];
        name=name.slice(0,10)+'..'
        let qty = display[i][0];
        let id3=display[i][3]
        console.log(name,qty)
        var image=display[i][1];
        myStr = `<div class="card recommen align-items-center" style="width: 18rem;">
                            <img class="recomme" src='/media/${image}' class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <p class="card-text">Recommended product</p>

                                <a href="/shop/products/${id3}"><button  class="btn btn-primary ">QuickView</button></a>
                            </div>
                        </div>`
        $('.items').append(myStr);

}


// If the add to cart button is clicked, add/increment the item
//$('.cart').click(function() {
$('.divpr').on('click', 'button.cart', function() {
    var idstr=document.getElementsByClassName('buy')[0].id.toString();
    if (cart[idstr] != undefined) {

        var qty = cart[idstr][0] + 1;

    } else {
        var qty = 1;
        name = document.getElementById('namepr').innerHTML;
        cart[idstr] = [qty, name];
    }
    console.log(cart)
    updateCart(cart)
});
//Add Popover to cart
$('#popcart').popover();
updatePopover(cart);

function updatePopover(cart) {
 //   console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
   // console.log(cart)
    for (var item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + cart[item][1].slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
        i = i + 1;
    }
    popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
   // console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}

function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    var temp=document.getElementsByClassName('buy')[0].id;
    for (var item in cart) {
            if(item===temp)
            {
        document.getElementById('div' + item).innerHTML = '<button  class="btn btn-primary cart">Add To Cart</button>'
    }
}
    localStorage.removeItem('cart');
    cart = {};
    updateCart(cart);
}

function updateCart(cart) {
    var sum = 0;
     var temp=document.getElementsByClassName('buy')[0].id;
     console.log("yes",temp)
    for (var item in cart) {
        sum = sum + cart[item][0];
          if(item===temp)
          {
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
         }
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
    updatePopover(cart);
}
// If plus or minus button is clicked, change the cart as well as the display value
$('.divpr').on("click", "button.minus", function() {
    var a = this.id.slice(7, );
    console.log(a)
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
 if(cart['pr'+a][0]==0)
    {
document.getElementById('divpr' + a).innerHTML = '<button id="pr'+a+'" class="btn btn-primary cart">Add to Cart</button>';
        delete cart['pr'+a];
    }
    else
    {
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    }
    updateCart(cart);
});
$('.divpr').on("click", "button.plus", function() {
    var a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    cart['pr' + a][0] = Math.min(5, cart['pr' + a][0]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});
</script>
{% endblock %}